.top-to-bottom-enter {
    transform: translateY(-100%);
    opacity: 0;
}
.top-to-bottom-enter-active {
    transform: translateY(0);
    opacity: 1;
    transition:all 0.3s ease-in-out;
}

.top-to-bottom-exit {
    transform: translateY(0);
}
.top-to-bottom-exit-active {
    transform: translateY(-100%);
    opacity: 0;
    transition:all 0.3s ease-in-out;
}

.bottom-to-top-enter {
    transform: translateY(-100%);
    opacity: 0;
}
.bottom-to-top-enter-active {
    transform: translateY(0);
    opacity: 1;
    transition:all 0.3s ease-in-out;
}

.bottom-to-top-exit {
    transform: translateY(0);
}
.bottom-to-top-exit-active {
    transform: translateY(-100%);
    opacity: 0;
    transition:all 0.3s ease-in-out;
}